#search-toggle--container {
    display: flex;
    justify-content: center;

    margin: 40px 0 40px 4px;
}

#search-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    border-radius: var(--br-r-medium);

    background-color: var(--ac-clr-1);

    cursor: pointer;

    z-index: 1;
}

#search-toggle-btn::before, #search-toggle-btn::after {
    content: '';

    position: absolute;

    height: 40px;
    width: 40px;

    border-radius: 50%;

    z-index: -1;

    opacity: 0.7;
}

#search-toggle-btn:hover::before {
    background-color: var(--ac-clr-1);
    animation: pulse 2s ease-out infinite;
}

#search-toggle-btn:hover::after {
    background-color: var(--ac-clr-1);
    animation: pulse 2s 1s ease-out infinite;
}