#search-bar--container {
    display: grid;
    grid-template-areas: 'searchbar icon';
    grid-template-rows: repeat(2, 56px);
    grid-template-columns: 9fr 1fr;

    height: 7vh;
    width: 100%;

    max-height: 56px;

    border-radius: var(--br-r-medium) 0 0 var(--br-r-medium);

    background: hsl(240, 20%, 98%);
}

#search-bar--text-input {
    grid-area: searchbar;

    height: 100%;
    width: 100%;

    max-height: 56px;

    padding: 10px;

    border-radius: var(--br-r-medium) 0 0 var(--br-r-medium);
    border: 2px solid hsl(240, 10%, 92%);

    background: hsl(240, 38%, 98%);
}

#search-bar--text-input::placeholder {
    color: hsl(257, 17%, 80%);
    /* color: hsl(218, 23%, 66%); */
}

/* Icon container */
#search-bar--icon-container {
    grid-area: icon;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    max-height: 56px;

    border-radius: 0 var(--br-r-medium) var(--br-r-medium) 0;

    background-color: var(--ac-clr-2);
}