.user-group--item {
    display: flex;
    align-items: center;
    gap: 16px;

    width: fit-content;

    padding: var(--pd-t-small) var(--pd-t-medium);

    border-radius: var(--br-r-small-medium);
    border: 1px solid var(--av-cl--border-clr);

    transition: background-color 200ms;
}

.user-group--item:hover {
    background-color: var(--nv-item--h--bg-clr);

    transition: unset;
}

.user-group--item > div > h2 {
    width: 120px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    cursor: default;
}

.user-group--item > button {
    margin-left: auto;
}