#kebab-container {
    display: flex;
    flex-direction: column;

    position: relative;

    height: fit-content;
    width: fit-content;
}

/* Let the kebab menu dropdown for the page size overflow */
#kebab-container > #dropdown-content-container {
    overflow: unset;
}

#kebab-menu--container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    padding: var(--pd-t-small);

    border-radius: 50%;

    cursor: pointer;
}

#kebab-container > section:first-of-type {
    right: 0;
}