:root {
    --clr-1: hsl(213, 93%, 89%);
    --clr-2: hsl(0, 0%, 100%);
    --clr-3: hsl(342, 99%, 45%);
    --clr-4: hsl(244, 88%, 60%);
    --clr-5: hsl(160, 74%, 45%);
    --clr-6: hsl(217, 33%, 17%);
    --clr-7: hsl(240, 12%, 97%);
    --clr-8: hsl(213, 100%, 96%);
}

#dashboard-theme--container {
    display: grid;
    grid-template-areas: 'navbar navbar'
                         'sidebar main';

    grid-template-rows: auto 1fr;
    grid-template-columns: min-content 1fr;

    height: 230px;
    width: 350px;

    border: 1px solid var(--clr-1);
    background-color: var(--clr-2);
    border-radius: 15px;

    user-select: none;
}

#dashboard-theme--container span {
    color: var(--clr-6);
}

#dashboard-theme--header {
    grid-area: navbar;

    display: flex;
    align-items: center;
    gap: 5px;

    padding: 5px 0 5px 10px;

    background-color: var(--clr-2);
    border-radius: 15px 15px 0 0;
}

#dashboard-theme--header > span {
    display: inline-block;

    height: 10px;
    width: 10px;

    border-radius: 50%;
}

#dashboard-theme--header > span:first-of-type {
    background-color: var(--clr-3);
}

#dashboard-theme--header > span:nth-of-type(2) {
    background-color: var(--clr-4);
}

#dashboard-theme--header > span:last-of-type {
    background-color: var(--clr-5);
}

#dashboard-theme--sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70px;

    padding-top: 15px;

    background-color: var(--clr-2);
    border-radius: 0 0 0 15px;
}

#dashboard-theme--sidebar > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 5px;
}

#dashboard-theme--sidebar > div:first-of-type > span:first-of-type {
    display: inline-block;

    height: 15px;
    width: 15px;

    border-radius: 50%;

    background-color: var(--clr-6);
}

#dashboard-theme--sidebar > div:first-of-type > span:last-of-type {
    display: inline-block;

    height: 10px;
    width: 40px;

    border-radius: 20px;

    background-color: var(--clr-6);
}

#dashboard-theme--sidebar > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 5px;

    margin-top: 20px;
    padding-left: 10px;
}

#dashboard-theme--sidebar > div:last-of-type > span {
    display: inline-block;

    height: 10px;
    width: 40px;

    border-radius: 15px;

    background-color: var(--clr-7);
}

#dashboard-theme--main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    align-self: flex-start;

    height: 100%;

    padding: 10px;

    background-color: var(--clr-8);
    border-radius: 15px 0 15px 0;
}

#dashboard-theme--main > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dashboard-theme--main > div:first-of-type > span {
    height: 18px;
    width: 50px;

    background-color: var(--clr-2);
    border-radius: 5px;
}

#dashboard-theme--main > div:first-of-type > div {
    display: flex;
    flex-direction: column;
}

#dashboard-theme--main > span:first-of-type {
    height: 15px;
    width: 200px;

    margin-top: 10px;

    background-color: var(--clr-2);
    border-radius: 5px;
}

#dashboard-theme--main > span:last-of-type {
    height: 120px;
    width: 250px;

    margin-top: 10px;

    background-color: var(--clr-2);
    border-radius: 8px;
}
