#side-group-listing {
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;

    max-height: 0;

    margin: 0 20px 0 10px;

    overflow: hidden;

    transition: max-height 300ms ease-out;
}

#side-group-listing > li {
    display: flex;
    justify-content: space-between;

    max-width: 150px;
}

/* The line beside the text */
#side-group-listing > li::before {
    content: '';

    position: absolute;
    left: 0;

    height: 100%;
    width: 3px;

    background-color: var(--ac-clr-1);

    transform: rotateZ(180deg);
}

/* The first list item has an margin top */
#side-group-listing > li:first-child {
    margin-top: 27px;
}

/* If the text is longer than the available space, the overflowing text won't be shown */
#side-group-listing > li span {
    overflow: hidden;
    white-space: pre-wrap;

    text-overflow: ellipsis;
}

#side-group-listing > li > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    min-height: 28px;
    min-width: 28px;

    max-width: 40px;

    padding: 0 5px;

    border-radius: var(--br-r-small);
    background-color: var(--ac-clr-1);
}

#side-group-listing > li > div > span {
    color: var(--nl-clr-3);
}

.active-group-listing {
    max-height: 0 !important;
    transition: unset !important;
}

.active-group-listing--display-none {
    display: none !important;
}