/* Sidebar area Section --Begin */
#side-container {
    grid-area: sidebar;

    position: relative;

    height: 100%;
    width: 260px;

    padding: 80px 0 48px;

    background-color: var(--nl-clr-2);

    transition: width 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#side-container:hover #side-collapse-button {
    opacity: 1;
}

#side-collapse-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 2%;
    right: -12px;

    height: 23px;
    width: 23px;

    border: unset;
    border-radius: 50%;

    background-color: var(--ac-clr-1);

    cursor: pointer;

    opacity: 0;

    transition: opacity 300ms;

    z-index: 1;
}

#side-collapse-icon {
    color: var(--nl-clr-2);
}

.active-sidebar--button-icon {
    transform: rotateZ(180deg);
}

/* Sidebar area Section --End */

/* Sidebar nav listing Section --Begin */
#side-content-container {
    display: grid;

    height: 100%;
    width: 100%;
}

.side-content-nav:nth-of-type(2) {
    align-self: flex-end;
}

.side-content-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.68rem;

    padding-left: 38px;

    user-select: none;
}

/* Sidebar single item  Section --Begin */
.side-image--text-wrapper > div {
    position: relative;
}

.side-image--text-wrapper a {
    display: flex;
    align-items: center;
    gap: 1.375rem;

    height: 25px;
    width: fit-content;

    cursor: pointer;
}

.active-sidebar--collapse-text {
    display: none !important;
}

.side-active-nav-item, .side-active-nav-item > a > span {
    color: var(--ac-clr-1) !important;

    transition: color 200ms;
}

.side-active-nav-item::after {
    content: '';

    display: inline-block;
    position: absolute;

    top: -30%;
    right: 0;

    height: 40px;
    width: 8px;

    border-radius: var(--br-r-extra-small) 0 0 var(--br-r-extra-small);

    background-color: var(--ac-clr-1);

    opacity: 0;

    animation: active-nav-item 600ms ease-out forwards;
}

/* Sidebar single item  Section --End */

@keyframes active-nav-item {
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1250px) {
    #side-collapse-button {
        opacity: 1;
    }
}