/* Add this attribute to the element that needs a tooltip */
#tooltip-container {
    display: grid;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: fit-content;
    max-width: 342px;

    padding: 15px;

    border-radius: var(--br-r-medium);

    background-color: var(--nl-clr-3);
    box-shadow: var(--drp-shadow-dark);
    /*background-color: hsl(0, 0%, 31%, 0.98);*/

    opacity: 0;
    visibility: hidden;

    pointer-events: none; /* Can't select item */

    z-index: 999;

    animation: show-tooltip 300ms 500ms forwards;
}

.tooltip-top::before, .tooltip-left::before, .tooltip-bottom::before {
    content: '';

    position: absolute;

    border-width: 10px;
    border-style: solid;
    border-color: var(--nl-clr-3) transparent transparent transparent;
}

.tooltip-top::before {
    top: 100%;
    left: 50%;

    margin-left: -10px;
}

.tooltip-left::before {
    top: 50%;
    left: -19px;

    margin-top: -10px;

    transform: rotateZ(90deg);
}

.tooltip-bottom::before {
    top: -19px;
    left: 50%;

    margin-left: -10px;

    transform: rotateZ(180deg);
}

@keyframes show-tooltip {
    to {
        visibility: visible;
        opacity: 1;
    }
}