#available-clients--section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 17px 20px 10px 20px;

    width: fit-content;

    min-width: 342px;
}

#available-clients--section > header > section {
    visibility: hidden;
}

#available-clients--container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-height: 325px;
    max-width: 500px;

    overflow: auto;
}

#no-clients {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 160px;
}

.available-client {
    display: flex;
    align-items: center;
    gap: 16px;

    padding: var(--pd-t-small) var(--pd-t-medium);

    border-radius: var(--br-r-small-medium);
    border: 1px solid var(--av-cl--border-clr);

    transition: background-color 200ms;
}

.available-client:hover {
    background-color: var(--nv-item--h--bg-clr);

    transition: unset;
}

.available-client > div > h2 {
    width: 140px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    cursor: default;
}

.available-client > button {
    margin-left: auto;
}