@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

:root {
    --ac-clr-1: hsl(248, 64%, 56%);
    --ac-clr-2: hsl(342, 99%, 45%);
    --ac-clr-3: hsl(160, 78%, 47%);

    --pr-clr: hsl(217, 33%, 17%);
    --sc-clr: hsl(215, 25%, 27%);

    --nl-clr-1: hsl(213, 100%, 96%);
    --nl-clr-2: hsl(0, 0%, 100%);
    --nl-clr-3: hsl(0, 0%, 100%); /* Always the same */
    --nl-clr-4: hsl(0, 0%, 0%); /* Always the same */

    --nl--nav-clr-1: hsl(0, 0%, 100%);

    --nv-item-d-clr: hsl(217, 33%, 17%); /* Navigation items default color */

    --li-item-h-clr: hsl(210, 70%, 96%); /* List item hover */

    /* Custom menu item style */
    --mu-item--hover-bg--clr: hsl(0, 0%, 94%);

    /* Custom input style */
    --ipt--bg-clr: hsl(0, 0%, 100%);
    --ipt--df-border--clr: hsl(210, 14%, 85%);
    --ipt--hover-border--clr: hsl(239, 84%, 67%);
    --ipt--active-border--clr: hsl(228, 96%, 89%);
    --ipt--disabled-bg--clr: hsl(0, 0%, 96%);
    --ipt--disabled-border--clr: hsl(0, 0%, 77%);
    --ipt--disabled-text--clr: hsl(217, 20%, 78%);

    /* Dropdown style */
    --dpn--bg-clr: hsl(218, 40%, 96%);
    --dpn--hover-bg-clr: hsl(240, 75%, 96%);

    --box-bg: hsl(0, 0%, 100%);
    --box-shadow: 0px 30px 50px hsl(212, 43%, 88%);
    --border-box--color: hsl(213, 100%, 89%); /* The border color of the boxes */

    /* Custom scrollbar style */
    --scrollbar-thumb--bg-clr: hsl(196, 15%, 86%);
    --scrollbar-thumb--hover-bg-clr: hsl(190, 15%, 70%);

    --drp-shadow-light: 0.6px 0.6px 2.2px rgba(0, 0, 0, -0.014),
    1.3px 1.3px 5.3px rgba(0, 0, 0, -0.019),
    2.5px 2.5px 10px rgba(0, 0, 0, -0.015),
    4.5px 4.5px 17.9px rgba(0, 0, 0, 0),
    8.4px 8.4px 33.4px rgba(0, 0, 0, 0.027),
    10px 10px 60px rgba(0, 0, 0, 0.07);

    --drp-shadow-dark: 0px 0px 7.2px rgba(0, 0, 0, -0.001),
    0.4px 0.4px 13.5px rgba(0, 0, 0, 0.004),
    1.2px 1.2px 18.4px rgba(0, 0, 0, 0.013),
    3px 3px 21.9px rgba(0, 0, 0, 0.025),
    7.1px 7.1px 24.4px rgba(0, 0, 0, 0.042),
    20px 20px 40px rgba(0, 0, 0, 0.07);
    /*--drp-shadow-dark: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);*/

    --drp-shadow-dark-rvt: 0px 0px 0.7px rgba(0, 0, 0, 0.07),
    0px 0px 2.7px rgba(0, 0, 0, 0.015),
    0px 0px 6.5px rgba(0, 0, 0, 0.024),
    0px 0px 12.9px rgba(0, 0, 0, 0.029),
    0px 0px 23.9px rgba(0, 0, 0, 0.028),
    0px 0px 50px rgba(0, 0, 0, 0.020);

    --pr-ff: 'Poppins', sans-serif;

    --fw--extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw--semi-bold: 600;
    --fw--extra-bold: 800;

    --fs-100: 11px;
    --fs-200: 12px;
    --fs-300: 13px;
    --fs-400: 14px;
    --fs-500: 15px;
    --fs-600: 16px;
    --fs-800: 18px;
    --fs-2000: 20px;
    --fs-2400: 24px;
    --fs-2800: 28px;
    --fs-3400: 34px;
    --fs-4000: 40px;

    --icon-size-medium: 24px;
    --icon-size-small: 18px;
    --icon-size-extra-small: 16px;

    --fs-pr-heading: var(--fs-4000);
    --fs-sc-heading: var(--fs-3400);
    --fs-tr-heading: var(--fs-2800);
    --fs-qr-heading: var(--fs-2000);
    --fs-qi-heading: var(--fs-800);

    --fs-pr-body: var(--fs-600);
    --fs-sc-body: var(--fs-500);
    --fs-tr-body: var(--fs-400);
    --fs-qr-body: var(--fs-300);
    --fs-qi-body: var(--fs-200);

    --br-r-medium: 15px;
    --br-r-small: 8px;
    --br-r-extra-small: 5px;

    --mg-t-medium: 15px;
    --mg-t-small: 8px;
    --mg-t-extra-small: 5px;

    --pd-t-big: 20px;
    --pd-t-medium: 15px;
    --pd-t-small: 8px;
    --pd-t-extra-small: 5px;
}

/* Theme packs section --Begin */
[data-theme='moderna-dark'] {
    --ac-clr-1: hsl(230, 94%, 82%);
    --ac-clr-2: hsl(169, 97%, 46%);
    --ac-clr-3: hsl(29, 78%, 70%);

    --pr-clr: hsl(220, 9%, 87%);
    --sc-clr: hsl(215, 21%, 70%);

    --nl-clr-1: hsl(214, 72%, 6%);
    --nl-clr-2: hsl(215, 69%, 9%);

    --nl--nav-clr-1: hsl(215, 69%, 9%);

    --nv-item-d-clr: hsl(0, 0%, 80%); /* Navigation items default color */

    --li-item-d-clr: hsl(240, 75%, 97%); /* List item */
    --li-item-h-clr: hsl(216, 55%, 13%); /* List item hover */

    /* Custom menu item style */
    --mu-item--hover-bg--clr: hsl(215, 71%, 16%);

    /* Custom input style */
    --ipt--bg-clr: hsl(214, 72%, 6%);
    --ipt--df-border--clr: hsl(215, 70%, 15%);
    --ipt--hover-border--clr: hsl(230, 94%, 82%);
    --ipt--active-border--clr: hsl(226, 26%, 45%);
    --ipt--disabled-bg--clr: hsl(0, 0%, 96%);
    --ipt--disabled-border--clr: hsl(0, 0%, 77%);
    --ipt--disabled-text--clr: hsl(217, 20%, 78%);

    /* Dropdown style */
    --dpn--bg-clr: hsl(215, 71%, 16%);
    --dpn--hover-bg-clr: hsl(216, 73%, 13%);

    --box-bg: hsl(215, 70%, 15%, .55);
    --box-shadow: 0px 50px 100px hsl(0, 0%, 0%, .25);
    --border-box--color: hsl(215, 66%, 20%); /* The border color of the boxes */

    /* Custom scrollbar style */
    --scrollbar-thumb--bg-clr: hsl(0, 0%, 41%);
    --scrollbar-thumb--hover-bg-clr: hsl(0, 0%, 48%);

    --drp-shadow: 0 2rem 3rem hsl(228, 14%, 7%);
}

[data-theme='syphus'] {
    --ac-clr-1: hsl(355, 100%, 74%);
    --ac-clr-2: hsl(345, 100%, 60%);
    --ac-clr-3: hsl(161, 85%, 60%);

    --pr-clr: hsl(0, 0%, 89%);
    --sc-clr: hsl(0, 0%, 78%);

    --nl-clr-1: hsl(0, 0%, 3%);
    --nl-clr-2: hsl(0, 0%, 6%);

    --drp-shadow: 0 2rem 3rem hsl(0, 0%, 0%);
}

[data-theme='midas'] {
    --ac-clr-1: hsl(34, 45%, 50%);
    --ac-clr-2: hsl(355, 100%, 74%);
    --ac-clr-3: hsl(161, 85%, 60%);

    --pr-clr: hsl(216, 21%, 91%);
    --sc-clr: hsl(220, 12%, 90%);

    --nl-clr-1: hsl(0, 0%, 6%);
    --nl-clr-2: hsl(0, 0%, 10%);

    --drp-shadow: 0 2rem 3rem hsl(0, 0%, 4%);
}

[data-theme='clean-red'] {
    --ac-clr-1: hsl(342, 99%, 45%);
    --ac-clr-2: hsl(355, 100%, 74%);
    --ac-clr-3: hsl(161, 85%, 60%);

    --pr-clr: hsl(229, 18%, 30%);
    --sc-clr: hsl(0, 0%, 27%);

    --nl-clr-1: hsl(0, 0%, 100%);
    --nl-clr-2: hsl(240, 67%, 96%);

    --drp-shadow: 0 2rem 3rem hsl(240, 11%, 89%);
}

[data-theme='discord'] {
    --ac-clr-1: hsl(235, 86%, 65%);
    --ac-clr-2: hsl(359, 67%, 54%);
    --ac-clr-3: hsl(139, 52%, 52%);

    --pr-clr: hsl(0, 0%, 100%);
    --sc-clr: hsl(216, 4%, 74%);

    --nl-clr-1: hsl(216, 7%, 14%);
    --nl-clr-2: hsl(223, 7%, 20%);

    --drp-shadow: 0 2rem 3rem hsl(216, 7%, 12%);
}

/* Theme packs section --End */

*, *::before, *::after {
    box-sizing: border-box;
    outline: unset;
}

* {
    margin: 0;
    padding: 0;

    outline: unset;
    border: unset;

    font-family: var(--pr-ff);
    font-size: var(--fs-pr-body);
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--pr-clr);
}

span {
    color: var(--sc-clr);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid transparent;

    background-color: var(--scrollbar-thumb--bg-clr);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb--hover-bg-clr);
}

/* Utility classes */
.fs-pr-1 {
    font-size: var(--fs-pr-heading);
}

.fs-sc-1 {
    font-size: var(--fs-sc-heading);
}

.fs-tr-1 {
    font-size: var(--fs-tr-heading);
}

.fs-qr-1 {
    font-size: var(--fs-qr-heading);
}

.fs-qi-1 {
    font-size: var(--fs-qi-heading);
}

.fs-pr-body-1 {
    font-size: var(--fs-pr-body);
}

.fs-sc-body-1 {
    font-size: var(--fs-sc-body);
}

.fs-tr-body-1 {
    font-size: var(--fs-tr-body);
}

.fs-qr-body-1 {
    font-size: var(--fs-qr-body);
}

.fs-qi-body-1 {
    font-size: var(--fs-qi-body);
}

.clr-pr-1 {
    color: var(--pr-clr);
}

.clr-sc-1 {
    color: var(--sc-clr);
}

.nv-clr--default {
    color: var(--nv-item-d-clr);
}

.fw--extra-light {
    font-weight: var(--fw--extra-light);
}

.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw--semi-bold {
    font-weight: var(--fw--semi-bold);
}

.fw--extra-bold {
    font-weight: var(--fw--extra-bold);
}

.mg-t-medium {
    margin-top: var(--mg-t-medium);
}

.mg-t-small {
    margin-top: var(--mg-t-small);
}

.mg-t--extra-small {
    margin-top: var(--mg-t-extra-small);
}

.pd-t-medium {
    margin-top: var(--pd-t-medium);
}

.pd-t-small {
    margin-top: var(--pd-t-small);
}

.pd-t--extra-small {
    margin-top: var(--pd-t-extra-small);
}

.box {
    border: 1px solid var(--border-box--color);
    border-radius: var(--br-r-medium);
    background-color: var(--box-bg);
    box-shadow: var(--box-shadow);

    overflow: hidden;
}

/* Modern input --Start */
.md-input {
    color: var(--pr-clr);

    border: 1px solid var(--ipt--df-border--clr);
    border-radius: var(--br-r-small);
    background-color: var(--ipt--bg-clr);

    transition: background-color 200ms, color 200ms, border-color 200ms, box-shadow 200ms;
}

.md-input:hover {
    border-color: var(--ipt--hover-border--clr);
}

.md-input:enabled:focus-within {
    box-shadow: 0 0 0 0.2rem var(--ipt--active-border--clr);
    border-color: var(--ipt--hover-border--clr);
}

.md-input:disabled {
    color: var(--ipt--disabled-text--clr);

    background-color: var(--ipt--disabled-bg--clr);
    border-color: var(--ipt--disabled-border--clr);
}

/* Modern input --End */

/* Modern menu items --Start */
.md-menu {
    border: 1px solid transparent;
    transition: background-color 200ms, border-color 200ms, box-shadow 200ms;
}

.md-menu:hover {
    background-color: var(--mu-item--hover-bg--clr);
}

.md-menu:active {
    box-shadow: 0 0 0 0.2rem var(--ipt--active-border--clr);
    border-color: var(--ipt--hover-border--clr);
}

/* Modern menu items --End */

.bg-clr--item-fit--1 {
    height: fit-content;
    width: fit-content;

    padding: 6px;

    border-radius: var(--br-r-small);

    color: hsl(215, 98%, 56%);

    background-color: hsl(215, 98%, 56%, 28.9%);
}

.bg-clr--item-fit--2 {
    height: fit-content;
    width: fit-content;

    padding: 6px;

    border-radius: var(--br-r-small);

    color: hsl(133, 72%, 45%);

    background-color: hsl(133, 72%, 45%, 28.9%);
}

.stick-to-head {
    position: sticky;
    top: 0;

    height: fit-content;
    width: 100%;

    padding-bottom: 10px;

    background-color: var(--nl-clr-2);

    z-index: 1;
}

#layout-container {
    display: grid;
    grid-template-areas: 'navbar navbar'
                         'sidebar main';

    grid-template-rows: max(65px, 6vh) 1fr;
    /*grid-template-columns: max(245px, 10vw) 1fr;
    grid-template-rows: 80px 1fr;*/
    grid-template-columns: min-content 1fr;

    height: 100vh
}

/* When collapsing the sidebar set the size to 100px */
.active-sidebar-layout {
    /*grid-template-columns: 100px 1fr !important;*/
    width: 100px !important;
}

/* Container which block every interaction of the user */
.blocking-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background-color: hsl(0, 0%, 0%, 30%);

    backdrop-filter: blur(4px);

    z-index: 999;
}

/* Expand more section --Start */
.active--expand-more--icon {
    transform: rotateZ(180deg);
}

/* Expand more section --End */

#arrow-forward-icon {
    font-size: 15px;
}

/* Delete icon section --Begin */
#delete-icon {
    color: var(--ac-clr-1);

    font-size: 28px;

    cursor: pointer;

    visibility: visible;
}

/* Delete icon section --End */

.shake {
    animation: shake 720ms cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, -1px, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 2px, 0);
    }
}

@keyframes pulse {
    to {
        transform: scale(1.8);
        opacity: 0;
    }
}