#script-information-toggle--container {
    display: flex;
}

#script-information-toggle--btn {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.6rem;

    height: 50px;
    width: 140px;

    border-radius: var(--br-r-medium);

    background-color: var(--ac-clr-1);

    cursor: pointer;

    z-index: 1;
}

#script-information-toggle--btn > span {
    color: var(--nl-clr-3);
}