#nav-container, #nav-logo-container, #nav-profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav Section --Begin */
#nav-container {
    grid-area: navbar;

    height: 100%;
    width: 100%;

    padding: 0 17px;

    background-color: var(--nl-clr-2);
}

#nav-container div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav Section --End */

/* Nav Logo Section --Begin */
#nav-logo-container {
    gap: 1rem;

    width: fit-content;
}

#nav-logo {
    width: max(60px, 5vh);
}

/* Nav Logo Section --End */

/* Nav Interaction Section --Begin */
#nav-interaction-container {
    display: flex;
    gap: 25px;
    margin-right: 3rem;
}


#nav-notification-bell {
    display: flex;
    align-items: center;

    position: relative;

    cursor: pointer;
}

#nav-notification-bell > span {
    position: absolute;

    top: -4%;
    left: 52%;

    height: 14px;
    width: 14px;

    border-radius: 50%;

    background-color: hsl(206, 100%, 50%);

    border: 3px solid var(--nl-clr-3);
}

/* Nav Profile Section --Begin */
#nav-profile-container {
    gap: 1rem;
}

#nav-profile-container span:nth-of-type(2) {
    display: inline-block;

    height: 50px;
    width: 50px;

    border-radius: 50%;

    background-color: hsl(215, 21%, 28%);
}

#nav-profile-container span:nth-of-type(2)::after {
    content: '';

    display: inline-block;
    position: relative;

    top: 60%;
    left: 75%;

    height: 16px;
    width: 16px;

    border-radius: 50%;

    background-color: var(--ac-clr-3);

    border: 3px solid var(--nl-clr-3);
}

/* Nav Profile Section --End */

@media only screen and (max-width: 842px) {

}