#separator-wrapper {
    display: flex;
    align-items: center;
    gap: 11px;
}

#separator-wrapper > span {
    color: hsl(219, 24%, 84%);
}

#separator-wrapper > hr {
    height: 2px;
    width: 100%;

    background: repeating-linear-gradient(90deg, hsl(219, 24%, 84%), hsl(219, 24%, 84%) 8px, transparent 8px, transparent 15px);
}