#code-language--section {
    position: relative;
}

#code-language--section > ul {
    position: absolute;
    right: 0;
    top: -170%;
}

#code-language--container {
    max-width: 130px;

    padding: 10px;

    border-radius: 0 var(--br-r-small);
    background-color: hsl(215, 98%, 56%, 30%);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
    user-select: none;
}

#code-language--container > span {
    color: hsl(215, 98%, 56%);
}