#dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 237px;
    width: 178px;
}

#dropdown-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: 50px;
    width: 100%;

    padding: 13px 10px;

    /*border: 1px solid hsl(0, 0%, 85%);*/
    border-radius: var(--br-r-small);
    box-shadow: var(--drp-shadow-dark-rvt);

    background-color: var(--nl-clr-3);

    user-select: none;
    cursor: pointer;
}

#dropdown-header-container > div:hover {
    background-color: hsl(240, 75%, 96%)
}

#dropdown-header-container > span {
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
}

#dropdown-header-container > div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;

    border-radius: var(--br-r-small);

    background-color: hsl(218, 40%, 96%);
}

/* Dropdown Content Section --Begin */
.active-dropdown-content {
    visibility: visible !important;
    opacity: 1 !important;

    transform: translateY(0) !important;
}

#dropdown-content {
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: max-content;

    max-height: 187px;
    max-width: 400px;

    padding: 8px;

    /*border: 1px solid hsl(0, 0%, 85%);*/
    border-radius: var(--br-r-small);
    box-shadow: var(--drp-shadow-dark-rvt);

    background-color: var(--nl-clr-3);

    visibility: hidden;
    opacity: 0;

    transform: translateY(10px);

    transition: opacity 300ms ease-out, transform 300ms ease-out, visibility 300ms ease-out;

    user-select: none;

    z-index: 1;
}

#dropdown-content-scroll-area {
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow: auto;
}

#dropdown-content li {
    display: flex;
    align-items: center;

    padding: 8px;

    border-radius: var(--br-r-small);

    transition: background-color 300ms;

    cursor: pointer;
}

#dropdown-content li:hover {
    background-color: var(--li-item-d);

    transition: unset;
}

#dropdown-content li:active {
    background-color: var(--li-item-h);
}

/* Dropdown Content Section --End */