#dropdown-container {
    display: flex;
    flex-direction: column;

    position: relative;

    height: fit-content;
    width: fit-content;
}

#dropdown-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: 50px;
    width: 188px;

    padding: 13px 10px;

    border: 1px solid var(--border-box--color);
    border-radius: var(--br-r-small);
    box-shadow: var(--drp-shadow-dark-rvt);

    background-color: var(--nl-clr-2);

    user-select: none;
    cursor: pointer;
}

#dropdown-header-container > span {
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
}

#dropdown-header-container > div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;

    border-radius: var(--br-r-small);

    color: var(--pr-clr);
    background-color: var(--dpn--bg-clr);
}

#dropdown-header-container > div:hover {
    background-color: var(--dpn--hover-bg-clr);
}

/* Dropdown Content Section --Begin */
#dropdown-content-container {
    position: absolute;
    top: 120%;

    height: fit-content;
    width: max-content;

    max-height: 197px;
    max-width: 400px;

    padding: 8px;

    border: 1px solid var(--border-box--color);
    border-radius: var(--br-r-small);
    box-shadow: var(--drp-shadow-dark-rvt);

    background-color: var(--nl-clr-2);

    visibility: hidden;
    opacity: 0;

    transform: translateY(10px);

    transition: opacity 300ms ease-out, transform 300ms ease-out, visibility 300ms ease-out;

    overflow: auto;

    user-select: none;

    z-index: 999 !important;
}

#dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.active-dropdown-content {
    visibility: visible !important;
    opacity: 1 !important;

    transform: translateY(0) !important;
}

#dropdown-content li {
    display: flex;
    align-items: center;

    padding: 8px;

    border-radius: var(--br-r-small);

    transition: background-color 300ms;

    cursor: pointer;
}

#dropdown-content li:hover {
    background-color: var(--li-item-h-clr);

    transition: unset;
}

#dropdown-content li:active {
    background-color: var(--li-item-ac-clr);
}

#dropdown-content li > span {
    max-width: 160px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.selected--dropdown-item {
    background-color: var(--li-item-ac-clr) !important;
    cursor: default !important;
}

/* Dropdown Content Section --End */